// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    display: grid;
    grid-template-columns: max-content;             // de kleinst mogelijke maat zonder de tekst over meerdere regels te verdelen
    grid-template-rows: 1fr min-content 6rem 1fr ;
    grid-gap: 1.5rem;
    justify-content: center;

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        font-size: 1.6rem;
        color: $color-grey-light-2;

        display: grid;      // Jep. Ook tekst kan een grid item worden......
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 15px;
        align-items: center;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
        justify-items: center;

        img {
            height: 2.5rem;
            filter: brightness(70%);    // minder dan 100 is donkerder, meer is lichter. Wit wordt hier dus lichtgrijs
        }
    }
}